

.rowsWrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.oneRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.winCard{
	border-width:10vw;
	border-color: red;
	background: red;
}
