

.rowsWrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.oneRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.onePicture{
	padding: 1vw;
}

.winCard{
	border-width:10vw;
	border-color: yellow;
	background: yellow;
}

.dontShow{
	display: none;
}



.houseOdds > label{
	color: black;
	font-weight: thick;
	background: white;
}




